<!-- 09 begin blogSection -->  
  <section class="section blogSection" id = "blog">
    <div class="wrapper">
      <div class="sectionHeader  center">
        <h2>Our Blog.</h2>
        <p class="sub_h2">
          We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="blogSection__row">
        <div class="left">
          <div class="left__img gradient grey">
            <img src="img/blog.jpg" alt="">
            <div class="img_info">
                <p class="autor">Damian Schreiber</p>
                <p class="date">December 10, 2015</p>
              </div>             
          </div>
          <div class="left__content border-bottom red">
            <h5 class="title">
              Facebook’s CNN livestream will test its place in the second screen era
            </h5>
            <p class="text">
                Traction seed money infographic accelerator pivot value proposition ownership business-to-consumer iteration market analytics paradigm 
                <a href="#">Read Full Article » </a>
            </p>
          </div>
        </div>
        <div class="right">
          <div class="box border-bottom green wow fadeInUp"  data-wow-offset="30">
            <p class="box__head">
              <span class="span green">Damian Schreiber</span>        
              December 10, 2015
            </p>
            <h5 class="box__title">
                Google Street View adds virtual reality support
            </h5>
            <p class="box__text">
                Traction seed money infographic accelerator pivot value 
                proposition ownership business-to-consumer iteration market 
                analytics paradigm 
                <a href="#"> <span class="span green">Read Full Article » </span></a>
            </p>
          </div>

          <div class="box border-bottom purple wow fadeInUp"  data-wow-offset="30">
            <p class="box__head">
              <span class="span purple">Damian Schreiber</span>        
              December 10, 2015
            </p>
            <h5 class="box__title">
              Google Street View adds virtual reality support
            </h5>
            <p class="box__text">
              Traction seed money infographic accelerator pivot value 
              proposition ownership business-to-consumer iteration market 
              analytics paradigm 
              <a href="#"> <span class="span purple">Read Full Article » </span></a>
            </p>
          </div>

          <div class="box border-bottom orange wow fadeInUp"  data-wow-offset="30">
            <p class="box__head">
            <span class="span orange">Damian Schreiber</span>        
            December 10, 2015
            </p>
            <h5 class="box__title">
              Google Street View adds virtual reality support
            </h5>
            <p class="box__text">
              Traction seed money infographic accelerator pivot value 
              proposition ownership business-to-consumer iteration market 
              analytics paradigm 
              <a href="#"> <span class="span orange">Read Full Article » </span></a>
            </p>
          </div>
                          
        </div>
      </div>
    </div>
  </section>
<!-- end blogSection -->  