<!-- 10 begin contactSection -->
  <section class="section contactSection" id="contact">
    <div class="wrapper">
      <div class="sectionHeader center">
        <h2>Get in Touch.</h2>
        <p class="sub_h2">
           We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="contactSection__row">
        <input class="input box" type="text" placeholder="Your Name">
        <input class="input box" type="email"  placeholder="Your Email">
        <input class="input box" type="text" placeholder="Subject">
        <input class="input box" type="text" placeholder="Project Budget">                
        <textarea class="input message" name="message" id="" cols="30" rows="8" placeholder="Your Message"></textarea>
        <button class="customBtn red">Send Message</button>        
      </div>
    </div>
  </section>
<!-- end contactSection -->