<!--- Begin FirstSetion -->
<div class="firstSection">
  <div class="wrapper">
    <h1 class="firstSection__title">
      We design things with love and passion.
    </h1>
    <div class="firstSection__wrapBtn">
      <button class="customBtn red">Our Works</button>            
    </div>
    <div class="boxes">
      <div class="boxes__box green">
        <div class="icon icon-money-regular"></div>
     		<div class="boxes__text">
						Fixed price projects
     		</div>
			</div>
      <div class="boxes__box purple">
				<div class="icon icon-basic-clock"></div>
				<div class="boxes__text">
					Receive on time
				</div>
			</div>			
			<div class="boxes__box orange">
				<div class="icon icon-check"></div>
				<div class="boxes__text">
					Satisfaction guranteed
				</div>
			</div>			
		</div>		
  </div>
</div>
<!--- End FirstSetion -->