<!-- begin footer -->
  <footer class="footer">
    <div class="wrapper">    
      <div class="footer__row">
        <div class="box border-bottom red">
          <img src="img/logo-white.png" alt="">
        </div>
        <div class="box border-bottom green">
          <h6 class="box__title green">Alexis LLC.</h6>
          <p class="box__text">
            4125 Brighton Circle Road
            Little Falls, MN 56345            
          </p>
        </div>
        <div class="box border-bottom purple">
          <h6 class="box__title purple">Alexis LLC UK.</h6>
          <p class="box__text">
            81 Golden Knowes Road
            FRESHFIELD   L37 6TP            
          </p>
        </div>   
        <div class="box border-bottom orange">
          <h6 class="box__title orange">Follow Us.</h6>
          <span class="icon icon-sb-facebook"></span>
          <span class="icon icon-sb-twitter"></span>
          <span class="icon icon-sb-instagram"></span>
          <span class="icon icon-sb-google-plus"></span>
        </div>              
      </div>
    </div>
  </footer>
  <script src="js/main.js"></script>
</body>
</html>
  <!-- end footer -->