<!--06  begin pricingSection -->
  <section class="section pricingSection" id="pricing">
    <div class="wrapper">
      <div class="sectionHeader center">
        <h2>Pricing Table.</h2>
        <p class="sub_h2">
           We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="pricingSection__row">
        <div class="box border-top green wow slideInLeft" data-wow-offset="200">
          <h5 class="title">Starter</h5>
          <div class="box__circle green">
            <div class="price green">
              <p class="money">$125</p>
              <p class="text">Per Month</p>
            </div>
          </div>
          <div class="box__list">
            <p><span>200GB</span> Online Storage</p>
            <p><span>20</span> Files Per Day</p>
            <p><span>2TB</span> Monthly Bandwidth</p>
            <p><span class="icon icon-angle-down"></span>Secure Platform</p>
            <p><span class="icon icon-angle-down"></span>24/7 Customer Support</p>
            <p><span class="icon icon-angle-down"></span>Fast & Reliable </p>
          </div>
          <button class="customBtn green" >Get Started</button>
        </div>          
        <div class="box border-top red wow slideInUp" data-wow-offset="200">
          <h5 class="title">Starter</h5>
          <div class="box__circle red">
            <div class="price red">
              <p class="money">$125</p>
              <p class="text">Per Month</p>
            </div>
          </div>
          <div class="box__list">
            <p><span>200GB</span> Online Storage</p>
            <p><span>20</span> Files Per Day</p>
            <p><span>2TB</span> Monthly Bandwidth</p>
            <p><span class="icon icon-angle-down"></span>Secure Platform</p>
            <p><span class="icon icon-angle-down"></span>24/7 Customer Support</p>
            <p><span class="icon icon-angle-down"></span>Fast & Reliable </p>
          </div>
          <button class="customBtn red" >Get Started</button>
        </div> 
        <div class="box border-top purple wow slideInRight" data-wow-offset="200">
          <h5 class="title">Starter</p>
          <div class="box__circle purple">
            <div class="price purple">
              <p class="money">$125</p>
              <p class="text">Per Month</p>
            </div>
          </div>
          <div class="box__list">
            <p><span>200GB</span> Online Storage</p>
            <p><span>20</span> Files Per Day</p>
            <p><span>2TB</span> Monthly Bandwidth</p>
            <p><span class="icon icon-angle-down"></span>Secure Platform</p>
            <p><span class="icon icon-angle-down"></span>24/7 Customer Support</p>
            <p><span class="icon icon-angle-down"></span>Fast & Reliable </p>
          </div>
          <button class="customBtn purple" >Get Started</button>       
        </div>                        
      </div>
    </div>
  </section>
<!-- end pricingSection -->  