<!--  02 begin twoSection -->  
<section class="section servicesSection" id="focus">
  <div class="wrapper">
    <div class="sectionHeader center">
      <h2>Our Focus.</h2>
      <p class="sub_h2">
         We understand your requirement and provide quality works.
      </p>      
    </div>
    <div class="servicesSection__row">
      <div class="box red">
        <span class="icon icon-basic-postcard-multiple"></span>
        <h5>Web Design</h5>
        <p>
          Analytics release series A financing launch party interaction design android angel investor.
        </p>
      </div>
      <div class="box green">
        <span class="icon icon-map-regular"></span>
        <h5>Web Design</h5>
        <p>
          Analytics release series A financing launch party interaction design android angel investor.
        </p>
      </div>
      <div class="box purple">
        <span class="icon icon-photo"></span>
        <h5>Web Design</h5>
        <p>
          Analytics release series A financing launch party interaction design android angel investor.
        </p>
      </div>
      <div class="box orange">
        <span class="icon icon-unie16d"></span>
        <h5>Web Design</h5>
        <p>
          Analytics release series A financing launch party interaction design android angel investor.
        </p>
      </div>                        
    </div>
  </div>
</section>
<!--  end twoSection -->  