<!-- begin status Section -->
  <section class="section statusSection bg_grey">
    <div class="wrapper">
      <div class="statusSection__row">
        <div class="box wow fadeInUp" data-wow-offset="100" data-wow-duration="3s" >
          <span class="icon icon-graph-regular red"></span>
          <h5 class="title">12,458+</h5>
          <p class="text">Projects Completed</p>
          <span class="icon icon-circle-slelected red"></span>     
        </div>        
        <div class="box wow fadeInUp" data-wow-offset="100" data-wow-duration="3s" >
          <span class="icon icon-add-user-regular green"></span>
          <h5 class="title">12,458+</h5>
          <p class="text">Projects Completed</p>
          <span class="icon icon-circle-slelected green"></span>          
        </div>   
        <div class="box wow fadeInUp" data-wow-offset="100" data-wow-duration="3s" >
          <span class="icon icon-like purple"></span>
          <h5 class="title">12,458+</h5>
          <p class="text">Projects Completed</p>
          <span class="icon icon-circle-slelected purple"></span>          
          <div class="circle_purple"></div>
        </div>
        <div class="box wow fadeInUp" data-wow-offset="100" data-wow-duration="3s" >
          <span class="icon icon-gift-regular orange"></span>
          <h5 class="title">12,458+</h5>
          <p class="text">Projects Completed</p>
          <span class="icon icon-circle-slelected orange"></span>
        </div>       
      </div>
    </div>
  </section>
<!-- begin status Section -->