<!-- 07 begin testiminSection -->
<section class="section testimonSection" id="testimon">
    <div class="wrapper">
      <div class="sectionHeader center">
        <h2>Testimonials.</h2>
        <p class="sub_h2">
          We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="owl-carousel"> 
        <div>
          <div class="slider">
            <div class="slider__left">
              <img src="img/photo1.jpg" alt="">
              <div class="img_border"></div>
            </div>
            <div class="slider__right">
              <p class="text">
                    Deployment ownership non-disclosure agreement vesting period crowdfunding 
                    success influencer partnership equity series A financing network effects user 
                    experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.          
              </p>
              <img src="img/photo1.jpg" alt="">
              <p class="name">Melina</p>
              <p class="title">Melina Albrecht</p>
              <p class="sub-title">Founder, TingTong</p>
            </div>
          </div>
        </div>   
        <div>
          <div class="slider">
            <div class="slider__left">
              <img src="img/photo1.jpg" alt="">
              <div class="img_border"></div>
            </div>
            <div class="slider__right">
              <p class="text">
                Deployment ownership non-disclosure agreement vesting period crowdfunding 
                success influencer partnership equity series A financing network effects user 
                experience crowdsource. Burn rate stock bootstrapping direct mailing release client traction creative facebook monetization crowdfunding rockstar.          
              </p>
              <img src="img/photo1.jpg" alt="">              
              <p class="name">Melina</p>
              <p class="title">Melina Albrecht</p>
              <p class="sub-title">Founder, TingTong</p>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </section>
<!-- end testiminSection -->