<!--  01 About Us -->
<!--  begin twoSection -->  
<section class="section twoSection" id="about">
  <div class="wrapper">
    <div class="left gradient_red">
      <img src="img/about.jpg" alt="">
      <div class="left__img-border"></div>
    </div>
    <div class="right">
      <h2 class="right__title">
          About Us.
      </h2>
      <p class="right__text">
          Analytics release series A financing launch party interaction design android angel investor. Vesting period social media sales conversion launch party rockstar incubator customer social proof graphical user interface technology supply chain. Non-disclosure agreement rockstar creative partner network launch party social proof paradigm shift long tail influencer. 
      </p>
      <p class="right__text">
          Monetization validation success. Seed round channels product 
          management. Customer non-disclosure agreement strategy 
          android growth hacking ramen buyer.
      </p>
    </div>
  </div>
</section>
<!--  end twoSection -->  