<!-- begin videoSection -->
<section class="section videoSection">
  <div class="videoSection__container">
    <video autoplay loop class="videoSection__video">
      <source src="video/For_Wes.mp4" type="video/mp4" />
    </video>
    <div class="contentsVideo">
      <p class="contentsVideo__title">
         Explore Our Awesomeness
      </p>
      <span class="icon icon-music-play-button"></span>
      <p class="contentsVideo__subText">
          Click to play the video
      </p>
    </div>
  </div>
</section>
<!-- end videoSection -->