<!-- 08 begin whychooseSection -->
  <section class="section whychooseSection">
    <div class="wrapper">
      <div class="sectionHeader  center">
        <h2>Why Select Us?</h2>
        <p class="sub_h2">
           We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="whychooseSection__row wow fadeInUp" data-wow-offset="30">
        <div class="box">
          <div class="box__head">
            <span class="icon icon-graph2 red"></span>
            <h6 class="title">Business</br>Growth</h6>
          </div>
          <p class="box__text">
            Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor. 
          </p>
        </div>
        <div class="box">
          <div class="box__head">
            <span class="icon icon-edit green"></span>
            <h6 class="title">Unlimited</br>Revisions</h6>
          </div>
          <p class="box__text">
              Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.          </p>
        </div>
        <div class="box">
          <div class="box__head">
            <span class="icon icon-exapnd2 purple"></span>
            <h6 class="title">Ultimate</br>Perfection</h6>
          </div>
          <p class="box__text">
              Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
          </p>
        </div>
        <div class="box">
          <div class="box__head">
            <span class="icon icon-display1 orange"></span>
            <h6 class="title">Smart</br>Experience</h6>
          </div>
          <p class="box__text">
            Success scrum project funding marketing seed money prototype innovator direct hackathon android angel investor. 
          </p>
        </div>
        <div class="box">
          <div class="box__head">
            <span class="icon icon-date red"></span>
            <h6 class="title">Strict</br>Deadline</h6>
          </div>
          <p class="box__text">
              Technology founders churn rate niche market long tail release iteration burn rate backing. Churn rate accelerator.          
          </p>
        </div>
        <div class="box">
          <div class="box__head">
            <span class="icon icon-medal green"></span>
            <h6 class="title">Award-winning</br>Company</h6>
          </div>
          <p class="box__text">
              Deployment ownership non-disclosure agreement vesting period crowdfunding success influencer partnership.
          </p>
        </div>                
      </div>
      <div class="sectionFooter">
        <h4 class="wow fadeInLeft"  data-wow-offset="30">Start your journy with us now</h4>
        <button class="customBtn red wow fadeInRight"  data-wow-offset="30">Get started</button>
      </div>
    </div>
  </section>
<!-- end whychooseSection -->  