<!-- 05 begin workSection -->
  <section class="section workSection" id="work">
    <div class="wrapper">
      <div class="sectionHeader center">
        <h2>Work Steps.</h2>
        <p class="sub_h2">
           We understand your requirement and provide quality works.
        </p>      
      </div>
      <div class="workSection__row">
        <div class="box">
          <div class="box__img gradient red">
            <img src="img/work_img.jpg" alt="">
          </div>
          <div class="content left border-bottom red  wow fadeInLeft" data-wow-offset="100">
            <div class="row">
              <div class="row__left">
                <h2 class="number">01</h2>
              </div>
              <div class="row__rigth">
                <h3 class="title">Project Understanding</h3>
                <p class="text">
                    Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor 
                    accelerator.                  
                </p>
              </div>
            </div>
          </div>
        </div>  
        <div class="box">
          <div class="box__img gradient green">
            <img src="img/work_img.jpg" alt="">
          </div>
          <div class="content right border-bottom green  wow fadeInRight" data-wow-offset="100">
            <div class="row">
              <div class="row__left">
                <h2 class="number">02</h2>
              </div>
              <div class="row__rigth">
                <h3 class="title">Project Understanding</h3>
                <p class="text">
                  Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor 
                  accelerator.                  
                </p>
              </div>
            </div>
          </div>          
        </div> 
        <div class="box">  
          <div class="box__img gradient purple">
            <img src="img/work_img.jpg" alt="">
          </div>
          <div class="content left border-bottom purple  wow fadeInLef" data-wow-offset="100">
            <div class="row">
              <div class="row__left">
               <h2 class="number">03</h2>
              </div>
              <div class="row__rigth">
                <h3 class="title">Project Understanding</h3>
                <p class="text">
                  Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor 
                  accelerator.                  
                </p>
              </div>
            </div>
          </div> 
        </div> 
        <div class="box">           
          <div class="box__img gradient orange">
            <img src="img/work_img.jpg" alt="">
          </div>   
          <div class="content right border-bottom orange wow fadeInRight" data-wow-offset="100">
            <div class="row">
              <div class="row__left">
                <h2 class="number">04</h2>
              </div>
              <div class="row__rigth">
                <h3 class="title">Project Understanding</h3>
                <p class="text">
                  Buyer strategy incubator niche market startup. Entrepreneur non disclosure agreement MVP traction beta social media investor 
                  accelerator.                  
                </p>
              </div>
            </div>
          </div>                                            
        </div>
      </div>
    </div>
  </section>
<!-- end workSection -->