/*--- begin contactSection ---*/
.contactSection {
  background-color: $grey4;
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;
    .input {
      margin: 15px;      
      background-color: $white;
      font-family: "Poppins";
      color: $grey2;
      font-size: 16px;
      text-align: center;
      border: 1px solid $grey2;
      border-radius: 3px;
      padding: 0 15px;
      &.box {
        width: calc(50% - 30px);
        height: 50px;
      }
      &.message {
        width: 100%;
      }      
      &:focus {
        border: 2px solid $red;
        outline: 0;
      }
    }
    .customBtn {
      margin-top: 30px;
    }
    @media screen and (max-width: 640px){
      .input.box {width: 100%;}
    }    
  }
}
/*--- end contactSection ---*/