/* --- begin workSection -- */
.workSection {
  &__row {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .box {
      position: relative;
      width: 50%;
      max-width: 556px;
      &__img {
        position: relative;
        max-width: 556px;
        height: 300px; 
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }        
      }
      .content {
        box-sizing: border-box;
        position: absolute;
        top: -57px;
        z-index: 1;
        max-width: 460px;
        height: 100%;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 0;
        background-color: $white;
        box-shadow: $box-shadow;
        .row {
          display: flex;
          padding-left: 15px;
          &__left {
            .number {
              margin-top: -30px;
              width: 65px;
              color: $light_text;
            }
          }
          &__rigth {
            padding: 15px;
          }
        }
        &.left {
          left: -50%;
        }
        &.right {
          right: -50%;
        }        
      }
    }
  }
}
/* --- end workSection -- */